<!-- <div>
  <ul>

    <li *ngFor="let post of posts ; let i as index ">{{post.postName}}</li>
    <li *ngFor="let post of posts">{{post.email}}</li>
    <li *ngFor="let post of posts">{{post.password}}</li>
    <li *ngFor="let post of posts">{{post.skills}}</li>
  </ul>
</div> -->

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">titre</th>
      <th scope="col">description</th>
      <th scope="col">date</th>
      <th scope="col">categorie</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let post of posts ; let i = index ">
      <th scope="row">{{i}}</th>
      <td>{{post.titre}}</td>
      <td>{{post.description}}</td>
      <td>{{post.date}}</td>
      <td>{{post.categorie}}</td>
      <button mat-raised-button color= "primary" [routerLink]="['/list-post/update', i]"> update</button>
      <button mat-raised-button color = "warn" (click) = "delete(i)"> delete</button>
    </tr>
  </tbody>
</table>