<!-- <nav class="navbar navbar-light bg-light  bg-dark">
    <a class="navbar-brand">MY APPLICATION </a>
    
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a routerLink="/dashboard">Dashboard </a>
        </li>
      </ul>
  
    <form class="form-inline my-2 my-lg-0">
      <button class="nav-link mr-2 bg-danger text-white"  *ngIf="(isLoggedIn | async)"  (click)="logOutBar()"  routerLink="/login">Sign out</button>
      <a class="nav-link mr-2 bg-danger text-white" routerLink="/login" *ngIf="!(isLoggedIn | async)" (click)="AuthServices.login()">Sign in</a>
      <a class="nav-link  bg-danger text-white" routerLink="/register" *ngIf="!(isLoggedIn | async)" (click)="AuthServices.login()">Sign up</a>
  
    </form>
  </nav> -->
<nav class="navbar navbar-light bg-light  bg-primary">

  <a class="navbar-brand">MY APPLICATION </a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a routerLink="/">Dashboard </a>
    </li>
  </ul>

  <form action="">
    <button mat-raised-button (click) = "logOutBar()">sign out</button>
    <a routerLink="/Signup" mat-raised-button color="primary"> sign up</a>
    <a routerLink="/child1" mat-raised-button> Formulaire</a>
    <a routerLink="/child2" mat-raised-button color="accent"> utilisateurs</a>
  </form>

</nav>
