<div class="container-fluid">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-3">
        <form [formGroup]=post>
        
       <mat-form-field floatLabel="auto">
          <mat-label>titre</mat-label>
          <input matInput required name="titre" formControlName="titre" [class.is-invalid]="post.get('titre').invalid && post.get('titre').touched ">
          <mat-error [class.d-none]="post.get('titre').valid || post.get('titre').untouched"  >This field is required</mat-error>
        </mat-form-field> 
        <mat-form-field floatLabel="auto">
          <mat-label>description</mat-label>
          <input matInput required formControlName="description" [class.is-invalid]="post.get('description').invalid && post.get('description').touched "  > 
         <mat-error [class.d-none]="post.get('description').valid || post.get('description').untouched" >This field is required</mat-error>
               <!--  <mat-error *ngIf="post.get('description').errors?.pattern"> Please provide a valid description address</mat-error> -->
        </mat-form-field>

            <h3>Cathegory</h3>
            <div formArrayName="categorie">
             <mat-form-field class="example-chip-list">
               <mat-chip-list #chipList aria-label="categorie selection">
                 <mat-chip *ngFor="let cat of post.get('categorie').value; let i = index"
                  [selectable]="selectable"
                   [removable]="removable"
                   (removed)="remove(i)">
                   {{cat}}
                   <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                 </mat-chip>
                 <input placeholder="New cathegory..." #categorieInput [formControl]="categorieCtrl" [matAutocomplete]="auto"
                   [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   (matChipInputTokenEnd)="add($event)">
               </mat-chip-list>
               <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                 <mat-option *ngFor="let cat of filteredCategories | async" [value]="cat">
                   {{cat}}
                 </mat-option>
               </mat-autocomplete>
             </mat-form-field>
            </div> 

               <button mat-raised-button color="accent" type="submit" (click) = "update(post)" >update</button> 
        </form>
      </div>
    </div>
  </div>
  
  
  
  

  
  